body {
  font-family: $font_family;  // 100;300;400;500;700;900
  color: $primary_color;
  font-size: $font-size;
  font-weight: $font_weight;
}

h1 {
  color: $secondary_color;
  font-size: $title_size - 4px;
  font-weight: $font_weight;
  letter-spacing: 0.25px;
  margin-left: $margin_unit;
}

h2 {
  color: $secondary_color;
  font-size: $title_size;
  font-weight: $title_weight;
  line-height: $line_height + 8;
}

p {
  margin: $margin_unit 0;
  letter-spacing: 0.2px;
  line-height: $line_height;
  padding-top: $padding_unit;
}

a {
  text-decoration: none;
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 $padding_unit;
}

.container-fluid {
  height: $full_height;
}

.row {
  width: $full_width;
}

.col {
  width: $full_width;
  padding: $padding_unit / 3 0;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
