header nav {
  width: 100%;
  height: $height_nav;
  background-color: $primary_bg_color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.3);
}

nav .row {
  height: $full_height;
  @include display-flex;
  justify-content: space-between;
  align-items: center;
}

nav #nav-left {
  height: $full_height;
  @include display-flex;
  align-items: center;

  .burger-icon {
    border-radius: 50%;
    cursor: pointer;
    padding: $padding_unit / 1.2;
    transition: background-color $hover_time;

    i {
      color: $links_color;
      font-size: $font-size + 3px;
    }
  }

  a.logo,
  a.section-title {
    display: none;
  }
}

nav #nav-right {
  height: $full_height;
  @include display-flex;
  align-items: center;

  a.app {
    display: block;
    @include display-flex;
    flex-direction: column;
    align-items: center;
    padding: $padding_unit / 1.5;
    border-radius: 50%;
    transition: background-color $hover_time;

    i {
      font-size: $font-size + 1px;
      color: $links_color;
      margin: -4.5px 0;
    }
  }

  a.user {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: $margin_unit / 2;
    padding: $padding_unit / 4;
    border-radius: 50%;
    transition: background-color $hover_time;

    img {
      width: $full_width;
      height: $full_height;
    }
  }
}

#nav-left .burger-icon:hover,
#nav-right a.app:hover,
#nav-right a.user:hover {
  background-color: $hover_bg_color;
}

nav #nav-menu {
  display: none;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  header nav {
    height: $height_nav_sm;
  }
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  header nav {
    height: $height_nav_xl;
  }

  nav .row {
    height: calc(100% / 2);
  }

  nav #nav-left {
    padding-top: $padding_unit;

    .burger-icon,
    h1 {
      display: none;
    }

    a.logo {
      display: block;
      width: $logo_width;
    }

    a.logo img {
      width: $full_width;
      vertical-align: middle;
    }

    a.section-title {
      display: block;
      margin-left: $margin_unit;
      color: $links_color;
      font-size: $font-size + 7;
      font-weight: $font_weight;
    }
  }

  nav #nav-right {
    padding-top: $padding_unit;
  }

  nav #nav-menu {
    display: block;
    height: $full_height;
    width: $full_width;

    ul {
      display: block;
      height: $full_height;
      width: $full_width;

      li {
        display: inline-block;
        height: $full_height;
        font-size: $font-size + 1;
        font-weight: $font_weight + 100;
        letter-spacing: 0.5px;
        margin-right: $margin_unit * 4;

        a {
          display: block;
          height: $full_height;
          color: $links_color;
          padding-top: $padding_unit;
        }
      }

      li:last-child {
        a {
          color: $active_color;
          border-bottom: 3px solid $active_color;
        }
      }
    }
  }
}
