header nav {
  width: 100%;
  height: $height_navbar;
  background-color: $primary_bg_color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.3);
}

nav .row {
  height: $full_height;
  @include display-flex;
  justify-content: space-between;
  align-items: center;
}

nav #nav-left {
  height: $full_height;
  @include display-flex;
  align-items: center;

  .burger-icon {
    border-radius: 50%;
    cursor: pointer;
    padding: $padding_unit / 1.2;
    transition: background-color $hover_time;

    i {
      color: $icon_color;
      font-size: $font-size + 3px;
    }
  }
}

nav #nav-right {
  height: $full_height;
  @include display-flex;
  align-items: center;

  a.app {
    display: block;
    @include display-flex;
    flex-direction: column;
    align-items: center;
    padding: $padding_unit / 1.5;
    border-radius: 50%;
    transition: background-color $hover_time;

    i {
      font-size: $font-size + 1px;
      color: $icon_color;
      margin: -4.5px 0;
    }
  }

  a.user {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: $margin_unit / 2;
    padding: $padding_unit / 4;
    border-radius: 50%;
    transition: background-color $hover_time;

    img {
      width: $full_width;
      height: $full_height;
    }
  }
}

#nav-left .burger-icon:hover,
#nav-right a.app:hover,
#nav-right a.user:hover {
  background-color: $hover_bg_color;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  header nav {
    height: $height_navbar + 10px;
  }
}
