main {
  background-color: $primary_bg_color;
  padding-top: $height_navbar;

  .faq-wrapper {
    width: $full_width;
    padding-top: $padding_unit;

    .faq-box {
      width: $full_width;
      padding-bottom: $padding_unit * 3;
    }

    .faq-box:last-of-type {
      padding-bottom: $padding_unit / 2;
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  main {
    padding-top: $height_navbar + 10px;
  }
}
